@if (txt && contacttxt) {
  <div class="container mx-auto p-4">
    <div class="flex items-start gap-4">
      <div class="flex-1 w-15"></div>
      <div class="flex-none text-center">
        @if (isNew) {
          <h1 class="text-2xl md:text-3xl font-bold">  {{this.contact.type === 4 ? txt['companyData'] : this.contact.type === 3 ? (session.serviceLevel.contact < 2 ? txt['provider'] : txt['supplier']) : session.serviceLevel.contact < 2 ? txt['contact']  : txt['contact'] }} {{this.contact.type === 4 ? '' : txt['insert']}} </h1>
        }
        @if (isClone) {
          <h1 class="text-2xl md:text-3xl font-bold">  {{this.contact.type === 3 ? (session.serviceLevel.contact < 2 ? txt['provider'] : txt['supplier']) : session.serviceLevel.contact < 2 ? txt['contact']  : txt['contact'] }} {{txt['clone']}} </h1>
        }
        @if (!(isNew || isClone) && isMaint) {
          <h1 class="text-2xl md:text-3xl font-bold"> {{this.contact.type === 4 ? txt['companyData'] : this.contact.type === 3 ? (session.serviceLevel.contact < 2 ? txt['provider'] : txt['supplier']) : session.serviceLevel.contact < 2 ? txt['contact']  : txt['contact'] }} {{txt['update']}} </h1>
        }
        @if (!isMaint && !isNew && !isClone) {
          <h1 class="text-2xl md:text-3xl font-bold"> {{this.contact.type === 4 ? txt['companyData'] : this.contact.type === 3 ? (session.serviceLevel.contact < 2 ? txt['provider'] : txt['supplier']) : session.serviceLevel.contact < 2 ? txt['contact']  : txt['contact'] }} {{txt['show']}} </h1>
        }
      </div>
      <div class="flex-1 w-16 flex justify-end">
        @if (this.contact.type !== 4) {
          <button class="btn btn-sm btn-circle btn-error text-primary-content"
            [attr.data-tip]="txt['close']" data-position="bottom"
            (click)="return()">
            <i class="fas fa-times"></i>
          </button>
        }
      </div>
    </div>
  </div>
}
<div class="divider"></div>

<!-- FORM starts here                    -->

<form [formGroup] = "thisForm"
  (ngSubmit)="submitForm()">

  <!-- this place is used for tests: <p>contact objects: {{ intChoices | json }}</p> -->
  <!-- GRID Container  -->
  @if (txt && contacttxt) {
    <div class="container mx-auto p-4">
      <!-- -UPDATE trigger BUTTONs  uniqueId  -->
      @if (this.contact && !isNew) {
        <div class="flex gap-4 mb-4">
          <div class="w-1/2">
            <h4 class="text-lg md:text-xl font-semibold">{{contacttxt['contactNr']}}:</h4>
          </div>
          <div class="w-1/2 flex justify-between">
            <div class="badge" [ngStyle]="contactStyle">
              {{this.contact.contactNr}}
            </div>
            <div>
              <!-- update of uniqueId -->
              @if (isMaint && !isClone) {
                <button class="btn btn-sm btn-circle btn-warning text-primary-content"
                  type="button" [attr.data-tip]="txt['update']"
                  [disabled]="isUpdate()"
                  (click)="setUniqueId()">
                  <i class="fas fa-arrow-down"></i>
                </button>
                <button class="btn btn-sm btn-circle btn-warning text-primary-content"
                  type="button" [attr.data-tip]="txt['clone']"
                  [disabled]="isUpdate()"
                  (click)="setUniqueIdClone()">
                  <i class="fas fa-arrow-right"></i>
                </button>
              }
            </div>
          </div>
        </div>
      }
      <!-- SHOW  uniqueId field -->
      <div class="flex gap-4 mb-4">
        <div class="w-1/2">
          <h4 class="text-lg md:text-xl font-semibold">{{contacttxt['displayName']}}:</h4>
        </div>
        <div class="w-1/2">
          <h4 class="text-lg md:text-xl font-semibold"> {{this.contact.displayName}}</h4>
        </div>
      </div>
      <!-- UPDATE uniqueId fields  -->
      @if ((isNew || isClone || isUpdateUniqueId)) {
        <div class="flex gap-4 mb-4">
          <div class="w-3/4">
            <div class="form-control">
              <fieldset  formGroupName="uniqueId" >
                @if ((isNew || isClone) && locale.substring(0, 2) === 'DE') {
                  <legend class = "badge badge-success">{{contacttxt['displayName']}} {{txt['enter']}}:</legend>
                }
                @if ((isNew || isClone) && locale.substring(0, 2) !== 'DE') {
                  <legend class = "badge badge-success">{{txt['enter']}} {{contacttxt['displayName']}}:</legend>
                }
                @if (isUpdateUniqueId) {
                  <legend class = "badge badge-success">{{contacttxt['displayName']}} {{txt['update']}}:</legend>
                }
                @if (this.contact.type !== 4 && (isNew || isClone || isContactNrChangeable)) {
                  <div class="flex items-center gap-2 mb-2">
                    <label for="contactNr" class="label">{{contacttxt['contactNr']}}:</label>
                    <input placeholder="contactNr" id="contactNr" formControlName="contactNr" class="input input-bordered w-full">
                  </div>
                }
                @if ( errors['uniqueId.contactNr']) {
                  <div class="alert alert-error">
                    {{ errors['uniqueId.contactNr'] }}
                  </div>
                }
                <div class="flex items-center gap-2 mb-2">
                  <label for="name" class="label">{{contacttxt['displayName']}}:</label>
                  <input placeholder="name" id="name" formControlName="name" class="input input-bordered w-full">
                </div>
                @if ( errors['uniqueId.name']) {
                  <div class="alert alert-error">
                    {{ errors['uniqueId.name'] }}
                  </div>
                }
                @if (errors['uniqueId']) {
                  <div class="alert alert-error">
                    {{ errors['uniqueId']}}
                  </div>
                }
              </fieldset>
            </div>
          </div>
          <!-- BUTTONs uniqueId updating                -->
          @if (isUpdateUniqueId || isNew || isClone) {
            <div class="w-1/4 flex gap-2">
              <button class="btn btn-circle btn-sm btn-success text-primary-content"
                [attr.data-tip]="txt['submit']" data-position="top"
                [disabled]="!thisForm.valid"
                type="submit">
                <i class="fas fa-check"></i>
              </button>
              <button class="btn btn-sm btn-circle btn-error text-primary-content"
                type="button" [attr.data-tip]="txt['cancel']" data-position="top"
                [disabled]="isNew || isClone"
                (click)="cancelUpdates()">
                <i class="fas fa-times"></i>
              </button>
            </div>
          }
        </div>
      }
      <div class="divider"></div>
      <!-- -SHOW   contact segment  -->
      <div class="flex gap-4 mb-4">
        <div class="w-2/3">
          <div class="card bg-base-100 shadow-md p-4">
            <h5 class="card-title flex justify-between">
              <span>{{txt['contact_data'] }}</span>
              <!-- button for update of contact   -->
              @if (isMaint) {
                <button class="btn btn-sm btn-circle btn-warning text-primary-content"
                  type="button" [attr.data-tip]="txt['update'] "
                  [disabled]="isUpdate()"
                  (click)="setContact()">
                  <i class="fas fa-arrow-down"></i>
                </button>
              }
            </h5>
          </div>
        </div>
      </div>
      <!-- -UPDATE contact  -->
      @if (isUpdateContact) {
        <div class="flex gap-4 mb-4">
          <div class="w-3/4">
            <div class="form-control">
              <fieldset  formGroupName="contactGroup">
                <legend class = "badge badge-success">  {{txt['contact'] }} {{txt['field'] }} {{txt['update'] }}</legend>
                <div class="flex items-center gap-2 mb-2">
                  <label for="contactSalutation" class="label">{{contacttxt['contactSalutation'] }}</label>
                  <input id="contactSalutation" formControlName="contactSalutation" class="input input-bordered w-full">
                </div>
                <div class="flex items-center gap-2 mb-2">
                  <label for="contactFirstName" class="label">{{contacttxt['contactFirstName'] }}</label>
                  <input id="contactFirstName" formControlName="contactFirstName" class="input input-bordered w-full">
                </div>
                <div class="flex items-center gap-2 mb-2">
                  <label for="contactName" class="label">{{contacttxt['contactName'] }}</label>
                  <input id="contactName" formControlName="contactName" class="input input-bordered w-full">
                </div>
                
                <div class="flex items-center gap-2 mb-2">
                  <label for="contactEmail" class="label">{{contacttxt['contactEmail'] }}</label>
                  <input id="contactEmail" formControlName="contactEmail" class="input input-bordered w-full">
                </div>
                @if ( errors['contactGroup.contactEmail'] ) {
                  <div class="alert alert-error">
                    {{ errors['contactGroup.contactEmail'] }}
                  </div>
                }
                <div class="flex items-center gap-2 mb-2">
                  <label for="contactTel" class="label">{{contacttxt['contactTel'] }}</label>
                  <input id="contactTel" formControlName="contactTel" class="input input-bordered w-full">
                </div>
                <div class="flex items-center gap-2 mb-2">
                  <label for="contactTelScnd" class="label">{{contacttxt['contactTelScnd'] }}</label>
                  <input id="contactTelScnd" formControlName="contactTelScnd" class="input input-bordered w-full">
                </div>
                <div class="flex items-center gap-2 mb-2">
                  <label for="contactStreet" class="label">{{contacttxt['contactStreet'] }}</label>
                  <input id="contactStreet" formControlName="contactStreet" class="input input-bordered w-full">
                </div>
                <div class="flex items-center gap-2 mb-2">
                  <label for="contactCity" class="label">{{contacttxt['contactCity'] }}</label>
                  <input id="contactCity" formControlName="contactCity" class="input input-bordered w-full">
                </div>
                <div class="flex items-center gap-2 mb-2">
                  <label for="contactPlz" class="label">{{contacttxt['contactPlz'] }}</label>
                  <input class="input input-bordered w-32" id="contactPlz" formControlName="contactPlz">
                </div>
                @if ( errors['contactGroup.contactPlz'] ) {
                  <div class="alert alert-error">
                    {{ errors['contactGroup.contactPlz'] }}
                  </div>
                }
                <div class="flex items-center gap-2 mb-2">
                  <label for="contactCountry" class="label">{{contacttxt['contactCountry'] }}</label>
                  <input id="contactCountry" formControlName="contactCountry" class="input input-bordered w-full">
                </div>
                @if ( errors['contactGroup.contactCountry'] ) {
                  <div class="alert alert-error">
                    {{ errors['contactGroup.contactCountry'] }}
                  </div>
                }
                <div class="flex items-center gap-2 mb-2">
                  <label for="contactBirthdayString" class="label">{{contacttxt['contactBirthday'] }}</label>
                  <input type="text" placeholder="dd.mm.yyyy" id="contactBirthdayString" formControlName="contactBirthdayString" class="input input-bordered w-full">
                </div>
                @if (errors['contactGroup.contactBirthdayString']) {
                  <div class="alert alert-error">
                    {{ errors['contactGroup.contactBirthdayString'] }}
                  </div>
                }
              </fieldset>
            </div>
          </div>
          <!-- BUTTONs contact updating                -->
          <div class="w-1/4 flex gap-2">
            <button class="btn btn-sm btn-circle btn-success text-primary-content"
              [attr.data-tip]="txt['submit'] " data-position="top"
              [disabled]="!thisForm.valid"
              type="submit">
              <i class="fas fa-check"></i>
            </button>
            <button class="btn btn-sm  btn-circle btn-error text-primary-content"
              type="button" [attr.data-tip]="txt['cancel'] " data-position="top"
              (click)="cancelUpdates()">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
      }
      <!-- -SHOW   contact  -->
      <div class="flex gap-4 mb-4">
        <div class="w-7/12">
          <div class="overflow-x-auto">
            <table class="table table-zebra w-full">
              <tbody>
                <tr>
                  <td class="w-1/6"><h5 class="font-semibold">{{contacttxt['contactSalutation'] }}:</h5></td>
                  <td><h5 class="font-semibold">{{this.contact.contactSalutation}}</h5></td>
                </tr>
                <tr>
                  <td class="w-1/6"><h5 class="font-semibold">{{contacttxt['contactFirstName'] }}:</h5></td>
                  <td><h5 class="font-semibold">{{this.contact.contactFirstName}}</h5></td>
                </tr>
                <tr>
                  <td class="w-1/6"><h5 class="font-semibold">{{contacttxt['contactName'] }}:</h5></td>
                  <td><h5 class="font-semibold">{{this.contact.contactName}}</h5></td>
                </tr>
                <tr>
                  <td class="w-1/6"><h5 class="font-semibold">{{contacttxt['contactEmail'] }}:</h5></td>
                  <td><h5 class="font-semibold">{{this.contact.contactEmail}}</h5></td>
                </tr>
                <tr>
                  <td class="w-1/6"><h5 class="font-semibold">{{contacttxt['contactTel'] }}:</h5></td>
                  <td><h5 class="font-semibold">{{this.contact.contactTel}}</h5></td>
                </tr>
                <tr>
                  <td class="w-1/6"><h5 class="font-semibold">{{contacttxt['contactTelScnd'] }}:</h5></td>
                  <td><h5 class="font-semibold">{{this.contact.contactTelScnd}}</h5></td>
                </tr>
                <tr>
                  <td class="w-1/6"><h5 class="font-semibold">{{contacttxt['contactStreet'] }}:</h5></td>
                  <td><h5 class="font-semibold">{{this.contact.contactStreet}}</h5></td>
                </tr>
                <tr>
                  <td class="w-1/6"><h5 class="font-semibold">{{contacttxt['contactCity'] }}:</h5></td>
                  <td><h5 class="font-semibold">{{this.contact.contactCity}}</h5></td>
                </tr>
                <tr>
                  <td class="w-1/6"><h5 class="font-semibold">{{contacttxt['contactPlz'] }}:</h5></td>
                  <td><h5 class="font-semibold">{{this.contact.contactPlz === 0 ? '' : this.contact.contactPlz}}</h5></td>
                </tr>
                <tr>
                  <td class="w-1/6"><h5 class="font-semibold">{{contacttxt['contactCountry'] }}:</h5></td>
                  <td><h5 class="font-semibold">{{this.contact.contactCountry}}</h5></td>
                </tr>
                <!-- at serviceLevel 0 - personal - we show contact birthday anyway-->
                @if (this.contact.contactBirthday || session.serviceLevel.contact < 2) {
                  <tr>
                    <td class="w-1/6"><h5 class="font-semibold">{{contacttxt['contactBirthday'] }}:</h5></td>
                    <td><h5 class="font-semibold">{{this.contact.contactBirthday|date:'dd.MM.yyyy'}}</h5></td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- -SHOW  contact header segment with UPDATE trigger BUTTON header -->
      <div class="flex gap-4 mb-4">
        <div class="w-2/3">
          <div class="card bg-base-100 shadow-md p-4">
            <h5 class="card-title flex justify-between">
              <span>{{txt['company']}}</span>
              @if (isMaint && !(isNew || isClone)) {
                <button class="btn btn-sm btn-circle btn-warning text-primary-content"
                  type="button" [attr.data-tip]="txt['update']"
                  [disabled]="isUpdate()"
                  (click)="setHdr()">
                  <i class="fas fa-arrow-down"></i>
                </button>
              }
            </h5>
          </div>
        </div>
      </div>
      <!-- -UPDATE contact  header  -->
      @if (isUpdateHdr) {
        <div class="flex gap-4 mb-4">
          <div class="w-3/4">
            <div class="form-control">
              <fieldset  formGroupName="hdrGroup">
                <legend class = "badge badge-success"> {{txt['company'] }} {{txt['field'] }} {{txt['update'] }}</legend>
                <div class="flex items-center gap-2 mb-2">
                  <label for="companyName" class="label">{{contacttxt['companyName']}}</label>
                  <input id="companyName" formControlName="companyName" class="input input-bordered w-full">
                </div>
                <div class="flex items-center gap-2 mb-2">
                  <label for="nameScnd" class="label">{{contacttxt['nameScnd'] }}</label>
                  <input id="nameScnd" formControlName="nameScnd" class="input input-bordered w-full">
                </div>
                <div class="flex items-center gap-2 mb-2">
                  <label for="contactFunction" class="label">{{contacttxt['contactFunction'] }}</label>
                  <input id="contactFunction" formControlName="contactFunction" class="input input-bordered w-full">
                </div>
                <div class="flex items-center gap-2 mb-2">
                  <label for="companyEmail" class="label">{{contacttxt['companyEmail'] }}</label>
                  <input id="companyEmail" formControlName="companyEmail" class="input input-bordered w-full">
                </div>
                @if ( errors['contactGroup.companyEmail'] ) {
                  <div class="alert alert-error">
                    {{ errors['contactGroup.companyEmail'] }}
                  </div>
                }
                <div class="flex items-center gap-2 mb-2">
                  <label for="companyTel" class="label">{{contacttxt['companyTel'] }}</label>
                  <input id="companyTel" formControlName="companyTel" class="input input-bordered w-full">
                </div>
                <div class="flex items-center gap-2 mb-2">
                  <label for="street" class="label">{{contacttxt['street'] }}</label>
                  <input id="street" formControlName="street" class="input input-bordered w-full">
                </div>
                <div class="flex items-center gap-2 mb-2">
                  <label for="city" class="label">{{contacttxt['city'] }}</label>
                  <input id="city" formControlName="city" class="input input-bordered w-full">
                </div>
                <div class="flex items-center gap-2 mb-2">
                  <label for="plz" class="label">{{contacttxt['plz'] }}</label>
                  <input class="input input-bordered w-32" id="plz" formControlName="plz">
                </div>
                @if ( errors['hdrGroup.plz'] ) {
                  <div class="alert alert-error">
                    {{ errors['hdrGroup.plz'] }}
                  </div>
                }
                <div class="flex items-center gap-2 mb-2">
                  <label for="country" class="label">{{contacttxt['country'] }}</label>
                  <input id="country" formControlName="country" class="input input-bordered w-full">
                </div>
                @if ( errors['hdrGroup.country'] ) {
                  <div class="alert alert-error">
                    {{ errors['hdrGroup.country'] }}
                  </div>
                }
                <div class="flex items-center gap-2 mb-2">
                  <label for="website" class="label">{{contacttxt['website'] }}</label>
                  <input id="website" formControlName="website" class="input input-bordered w-full">
                </div>
                 <div class="flex items-center gap-2 mb-2">
                  <label for="companyUid" class="label">{{contacttxt['companyUid'] }}</label>
                  <input id="companyUid" formControlName="companyUid" class="input input-bordered w-full">
                </div>
              </fieldset>
            </div>
          </div>
          <!-- BUTTONs contact header updating                -->
          <div class="w-1/4 flex gap-2">
            <button class="btn btn-sm btn-circle btn-success text-primary-content"
              [attr.data-tip]="txt['submit']" data-position="top"
              [disabled]="!thisForm.valid"
              type="submit">
              <i class="fas fa-check"></i>
            </button>
            <button class="btn btn-sm btn-circle btn-error text-primary-content"
              [attr.data-tip]="txt['cancel']" data-position="top"
              type="button" (click)="cancelUpdates()">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
      }
      <!-- -SHOW  contact header  -->
      <div class="flex gap-4 mb-4">
        <div class="w-7/12">
          <div class="overflow-x-auto">
            <table class="table table-zebra w-full">
              <tbody>
                <tr>
                  <td class="w-1/6"><h5 class="font-semibold">{{contacttxt['companyName'] }}:</h5></td>
                  <td><h5 class="font-semibold">{{this.contact.companyName}}</h5></td>
                </tr>
                <tr>
                  <td class="w-1/6"><h5 class="font-semibold">{{contacttxt['nameScnd'] }}:</h5></td>
                  <td><h5 class="font-semibold">{{this.contact.nameScnd}}</h5></td>
                </tr>
                <tr>
                  <td class="w-1/6"><h5 class="font-semibold">{{contacttxt['contactFunction'] }}:</h5></td>
                  <td><h5 class="font-semibold">{{this.contact.contactFunction}}</h5></td>
                </tr>
                <tr>
                  <td class="w-1/6"><h5 class="font-semibold">{{contacttxt['companyEmail'] }}:</h5></td>
                  <td><h5 class="font-semibold">{{this.contact.companyEmail}}</h5></td>
                </tr>
                <tr>
                    <td class="w-1/6"><h5 class="font-semibold">{{contacttxt['companyTel'] }}:</h5></td>
                    <td><h5 class="font-semibold">{{this.contact.companyTel}}</h5></td>
                  </tr>
                <tr>
                  <td class="w-1/6"><h5 class="font-semibold">{{contacttxt['street'] }}:</h5></td>
                  <td><h5 class="font-semibold">{{this.contact.street}}</h5></td>
                </tr>
                <tr>
                  <td class="w-1/6"><h5 class="font-semibold">{{contacttxt['city'] }}:</h5></td>
                  <td><h5 class="font-semibold">{{this.contact.city}}</h5></td>
                </tr>
                <tr>
                  <td class="w-1/6"><h5 class="font-semibold">{{contacttxt['plz'] }}:</h5></td>
                  <td><h5 class="font-semibold">{{this.contact.plz === 0 ? '' : this.contact.plz}}</h5></td>
                </tr>
                <tr>
                  <td class="w-1/6"><h5 class="font-semibold">{{contacttxt['country'] }}:</h5></td>
                  <td><h5 class="font-semibold">{{this.contact.country}}</h5></td>
                </tr>
                <tr>
                  <td class="w-1/6"><h5 class="font-semibold">{{contacttxt['website'] }}:</h5></td>
                  <td><h5 class="font-semibold">{{this.contact.website}}</h5></td>
                </tr>
                <tr>
                  <td class="w-1/6"><h5 class="font-semibold">{{contacttxt['companyUid'] }}:</h5></td>
                  <td><h5 class="font-semibold">{{this.contact.companyUid}}</h5></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- -SHOW  contact footer  segment -->
      <div class="flex gap-4 mb-4">
        <div class="w-2/3">
          <div class="card bg-base-100 shadow-md p-4">
            <h5 class="card-title flex justify-between">
              <span>{{txt['ftr_data'] }}</span>
              <!-- button for update of footer   -->
              @if (isMaint) {
                <button class="btn btn-sm  btn-circle btn-warning text-primary-content"
                  type="button" [attr.data-tip]="txt['update'] "
                  [disabled]="isUpdate()"
                  (click)="setFtr()">
                  <i class="fas fa-arrow-down"></i>
                </button>
              }
            </h5>
          </div>
        </div>
      </div>
      <!-- -UPDATE contact footer  -->
      @if (isUpdateFtr) {
        <div class="flex gap-4 mb-4">
          <div class="w-3/4">
            <div class="form-control">
              <fieldset  formGroupName="ftrGroup">
                <legend class = "badge badge-success">  {{txt['ftr_data'] }} {{txt['field'] }} {{txt['update'] }}</legend>
                <div class="flex items-center gap-2 mb-2">
                  <label for="contactColor" class="label"
                  [attr.data-tip]="txt['enter_color'] " data-position="bottom">{{contacttxt['contactColor'] }}</label>
                  <input id="contactColor" formControlName="contactColor" class="input input-bordered w-full">
                </div>
                @if ( errors['ftrGroup.contactColor'] ) {
                  <div class="alert alert-error">
                    {{ errors['ftrGroup.contactColor'] }}
                  </div>
                }
                @if (session.serviceLevel.contact >= 2) {
                  #<div class="flex items-center gap-2 mb-2">
                    <label for="contactType" class="label">{{contacttxt['contactType'] }}</label>
                    <input class="checkbox" type="checkbox" [checked]="this.contact.contactType === 1" id="contactType" formControlName="contactType">
                  </div>
                  <div class="flex items-center gap-2 mb-2">
                    <label for="iban" class="label">{{contacttxt['iban'] }}</label>
                    <input id="iban" formControlName="iban" class="input input-bordered w-full">
                  </div>
                  <div class="flex items-center gap-2 mb-2">
                    <label for="ibanScnd" class="label">{{contacttxt['ibanScnd'] }}</label>
                    <input id="ibanScnd" formControlName="ibanScnd" class="input input-bordered w-full">
                  </div>
                  <div class="flex items-center gap-2 mb-2">
                    <label for="paymentInfo" class="label">{{contacttxt['paymentInfo'] }}</label>
                    <input id="paymentInfo" formControlName="paymentInfo" class="input input-bordered w-full">
                  </div>
                  <div class="flex items-center gap-2 mb-2">
                    <label for="paymentInfoScnd" class="label">{{contacttxt['paymentInfoScnd'] }}</label>
                    <input id="paymentInfoScnd" formControlName="paymentInfoScnd" class="input input-bordered w-full">
                  </div>
                  <div class="flex items-center gap-2 mb-2">
                    <label for="externalId" class="label">{{contacttxt['externalId']}}</label>
                    <input id="externalId" formControlName="externalId" class="input input-bordered w-full">
                  </div>
                }
                <div class="flex items-center gap-2 mb-2">
                  <label for="companyNote" class="label">{{contacttxt['companyNote']}}</label>
                  <textarea id="companyNote" formControlName="companyNote" rows="2" class="textarea textarea-bordered w-full"></textarea>
                </div>
              </fieldset>
            </div>
          </div>
          <!-- BUTTONs contact footer updating                -->
          <div class="w-1/4 flex gap-2">
            <button class="btn btn-sm btn-circle  btn-success text-primary-content"
              [attr.data-tip]="txt['submit'] " data-position="top"
              [disabled]="!thisForm.valid"
              type="submit">
              <i class="fas fa-check"></i>
            </button>
            <button class="btn btn-sm btn-circle  btn-error text-primary-content"
              type="button" [attr.data-tip]="txt['cancel'] " data-position="top"
              (click)="cancelUpdates()">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
      }
      <!-- -SHOW  contact footer  -->
      <div class="flex gap-4 mb-4">
        <div class="w-7/12">
          <div class="overflow-x-auto">
            <table class="table table-zebra w-full">
              <tbody>
                <tr>
                  <td class="w-1/6"><h5 class="font-semibold">{{contacttxt['contactColor'] }}:</h5></td>
                  <td><h5 class="font-semibold">{{this.contact.contactColor}}</h5></td>
                </tr>
                @if (session.serviceLevel.contact >= 2) {
                  <tr>
                    <td class="w-1/6"><h5 class="font-semibold">{{contacttxt['contactType'] }}:</h5></td>
                    <td>
                      <input class="checkbox" type="checkbox" [checked]="this.contact.contactType === 1" disabled>
                    </td>
                  </tr>
                  <tr>
                    <td class="w-1/6"><h5 class="font-semibold">{{contacttxt['iban'] }}:</h5></td>
                    <td><h5 class="font-semibold">{{this.contact.iban}}</h5></td>
                  </tr>
                  <tr>
                    <td class="w-1/6"><h5 class="font-semibold">{{contacttxt['ibanScnd'] }}:</h5></td>
                    <td><h5 class="font-semibold">{{this.contact.ibanScnd}}</h5></td>
                  </tr>
                  <tr>
                    <td class="w-1/6"><h5 class="font-semibold">{{contacttxt['paymentInfo'] }}:</h5></td>
                    <td><h5 class="font-semibold">{{this.contact.paymentInfo}}</h5></td>
                  </tr>
                  <tr>
                    <td class="w-1/6"><h5 class="font-semibold">{{contacttxt['paymentInfoScnd'] }}:</h5></td>
                    <td><h5 class="font-semibold">{{this.contact.paymentInfoScnd}}</h5></td>
                  </tr>
                  <tr>
                    <td class="w-1/6"><h5 class="font-semibold">{{contacttxt['externalId'] }}:</h5></td>
                    <td><h5 class="font-semibold">{{this.contact.externalId}}</h5></td>
                  </tr>
                }
                <tr>
                  <td class="w-1/6"><h5 class="font-semibold">{{contacttxt['companyNote'] }}:</h5></td>
                  <td><small><pre>{{this.contact.companyNote}}</pre></small></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- end of GRID Container  -->
    </div>
  }
</form>

