@if (txt && optiontxt) {
  <div class="container mx-auto p-4">
    <div class="flex flex-wrap gap-4 items-start">
      <div class="flex-1"></div>
      <div class="flex-1 text-center">
        <h1 class="text-2xl md:text-3xl font-bold">
          {{optiontxt['className']}} {{txt['list']}}
        </h1>
      </div>
      <div class="flex-1 flex justify-end items-center gap-2">
        <label for="language" class="label label-sm">{{txt['language']}}:</label>
        <select class="select select-primary" id="language" (change)="setLanguage($event)">
          @for (c of languageChoices; track c) {
            <option [value]="c.value"
              [selected]="c.isSelected">
              {{c.value}} - {{c.text}}
            </option>
          }
        </select>
        <!-- no return because list is leading view ....
        <button class="btn btn-circle btn-sm btn-error"
          [attr.data-tip]="txt['close']" data-position="bottom"
          (click)="return()">
          <i class="fas fa-times"></i>
        </button>
        -->
      </div>
    </div>
  </div>
}
@if (txt && optiontxt) {
  <div class="overflow-x-auto p-4">
    <table class="table table-zebra w-full">
      <thead>
        <tr>
          <th>{{optiontxt['optionArea']}}</th>
          <th>{{txt['count']}}</th>
          <th>{{txt['styles']}}</th>
          <th class="text-center" colspan="2">{{txt['update']}}</th>
          <th class="text-center">
            @if (isCreate) {
              <button class="btn btn-circle btn-warning text-primary-content"
                [attr.data-tip]="txt['insert']" data-position="bottom"
                (click)="insert()">
                <i class="fas fa-plus"></i>
              </button>
            }
          </th>
        </tr>
      </thead>
      <tbody>
        @for (area of areas; track area; let i = $index) {
          <tr>
            <td>
              {{area.areaText|slice:0:30}}
            </td>
            <td class="text-right">
              {{area.count|number:'1.0-0'}}
            </td>
            <td class="text-right">
              {{area.styles|number:'1.0-0'}}
            </td>
            <td class="text-center">
              <button class="btn btn-circle btn-sm btn-info text-primary-content"
                [attr.data-tip]="txt['show']" data-position="bottom"
                (click)="show(i)">
                <i class="fas fa-arrow-right"></i>
              </button>
            </td>
            <td class="text-center">
              @if (isMaint) {
                <button class="btn btn-circle btn-sm btn-warning text-primary-content"
                  [attr.data-tip]="txt['update']" data-position="bottom"
                  (click)="maint(i)">
                  <i class="fas fa-arrow-down"></i>
                </button>
              }
            </td>
            <td></td>
          </tr>
        }
      </tbody>
    </table>
  </div>
}

