<br>
@if (txt && optiontxt) {
  <div class="ui grid container">
    <div class="row">
      <div class="three wide column">
      </div>
      <div class="ten wide column">
        <h2 class="ui center aligned header">  {{optiontxt['className']}} {{txt['list']}} </h2>
      </div>
      <div class="right floated three wide column">
        <label for="language" class="ui label">{{txt['language']}}:</label>
        <select class="ui search dropdown" id="language" (change)="setLanguage($event)">
          @for (c of languageChoices; track c) {
            <option [value]="c.value"
              [selected]="c.isSelected">
              {{c.value}} - {{c.text}}
            </option>
          }
        </select>
        <!-- no return because list is leading view ....
        <button class="left floated ui tiny circular red icon button"
          [attr.data-tooltip]="txt['close']" data-position="bottom center" data-inverted=""
          (click)="return()">
          <i class="times icon"></i>
        </button>
        -->
      </div>
    </div>
  </div>
}
@if (txt && optiontxt) {
  <table class="ui celled structured table">
    <thead>
      <tr>
        <th>{{optiontxt['optionArea']}}</th>
        <th>{{txt['count']}}</th>
        <th>{{txt['styles']}}</th>
        <th class="center aligned" colspan="2">{{txt['update']}}</th>
        <th>
          @if (isCreate) {
            <button class="right floated ui tiny circular yellow icon button"
              [attr.data-tooltip]="txt['insert']" data-inverted=""
              (click)="insert()">
              <i class="large plus icon"></i>
            </button>
          }
        </th>
      </tr>
    </thead>
    <tbody>
      @for (area of areas; track area; let i = $index) {
        <tr>
          <td class="left aligned">
            {{area.areaText|slice:0:30}}
          </td>
          <td class="right aligned">
            {{area.count|number:'1.0-0'}}
          </td>
          <td class="right aligned">
            {{area.styles|number:'1.0-0'}}
          </td>
          <td>
            <button class="ui tiny circular teal icon button"
              [attr.data-tooltip]="txt['show']" data-inverted=""
              (click)="show(i)">
              <i class="arrow right icon"></i>
            </button>
          </td>
          <td>
            @if (isMaint) {
              <button class="ui tiny circular yellow icon button"
                [attr.data-tooltip]="txt['update']" data-inverted=""
                (click)="maint(i)">
                <i class="arrow down icon"></i>
              </button>
            }
          </td>
          <td></td>
        </tr>
      }
    </tbody>
  </table>
}

