<!-- ATTENTION  [ngClass] is used to set css behaviour - in this case via daisyUI -->
<div class="join w-full">
  <input (keyup)="findContacts(searchTerm.value)" #searchTerm type="text" placeholder="{{auth.txt['search']}}... " class="input input-sm join-item w-full">
  <button class="btn btn-sm join-item" type="button" id="searchContent"  (click)="findContacts(searchTerm.value)">
    <i class="fas fa-search"></i>
  </button>
</div>
<div class="dropdown-content absolute z-1 shadow bg-base-100 rounded-box p-2 w-full mt-2" [ngClass]="{ hidden: !foundContacts.length }">
  @for (contact of foundContacts; track contact) {
    <a href (click)="selectContact(contact); false">
      <div class="text" id="searchContent" >{{ contact.displayNr }}  {{ contact.displayName }}  {{ contact.plz === 0 ? '' : contact.plz}} {{ contact.city }}</div>
    </a>
  }
</div>

