<br>
<div class="ui grid container">
  <div class="row">
    <div class="two wide column">
    </div>
    <div class="twelve wide column">
      <h2 class="ui center aligned header">  {{auth.txt['contact_export']}} </h2>
    </div>
    @if (resetSignal() === 1) {
      <div class="column">
        <button class="ui tiny circular red icon button"
          [attr.data-tooltip]="auth.txt['reset']"
          (click)="resetExport()">
          <i class="times icon"></i>
        </button>
      </div>
    }
  </div>
  @if (refreshSignal() === 1) {
    <div class="ui divider"></div>
    <div class="row">
      <div class="two wide column">
      </div>
      <div class="twelve wide column">
        <h3 class="ui center aligned header">  {{auth.txt['export_all_contacts']}} </h3>
      </div>
    </div>
    <div class="row">
      <div class="two wide column">
        <!-- open update area for extended file name ....  -->
        @if (readySignal() === 0 && !isUpdateExtendedFileName) {
          <button class="ui tiny circular yellow icon button"
            [attr.data-tooltip]="auth.txt['fileName'] + ' ' + auth.txt['update']"
            (click)="setUpdateExtendedFileName()">
            <i class="arrow down icon"></i>
          </button>
        }
        @if (isUpdateExtendedFileName) {
          <button class="ui tiny circular green icon button"
            [attr.data-tooltip]="auth.txt['fileName'] + ' ' + auth.txt['update']"
            [disabled]="isUpdateFileName || isUpdateFileType"
            (click)="setUpdateExtendedFileName()">
            <i class="check icon"></i>
          </button>
        }
      </div>
      <div class="eight wide column">
        <h4>
          {{auth.txt['fileName']}}: {{extendedFileName}}
        </h4>
        @if (readySignal() === 1 && finishedSignal() === 0  && recordCount > 0) {
          <h4>
            {{'   ' + auth.txt['record_count'] + ': ' + recordCount}}
          </h4>
        }
      </div>
      <div class="two wide column">
        @if (readySignal() === 0 && !isUpdateExtendedFileName) {
          <button class="ui tiny circular green icon button"
            [attr.data-tooltip]="auth.txt['prepare_export']"
            (click)="prepareExport()">
            <i class="arrow right icon"></i>
          </button>
        }
        <!-- design the a link as button is best possibility to use href ....  -->
        @if (readySignal() === 1 && finishedSignal() === 0 && recordCount > 0) {
          <a class="ui tiny green button"
            [href]="encodedUri|safeResource"
            [attr.download]="extendedFileName"
            [attr.data-tooltip]="auth.txt['do_export']"
            (click)="setExportFinished()">
            DOWNLOAD
          </a>
        }
        @if (readySignal() === 1 && recordCount === 0) {
          <h4>
            {{auth.txt['no_records_to_export']}}
          </h4>
        }
        @if (finishedSignal() === 1 ) {
          <h4>
            {{recordCount + ' ' + auth.txt['records_exported']}}
          </h4>
        }
      </div>
    </div>
  }
  <!-- updating file name                     -->
  @if (resetSignal() === 0 && isUpdateExtendedFileName) {
    <div class="ui divider"></div>
    <div class="row">
      <div class="two wide column">
        <h4> {{auth.txt['fileName']}}:</h4>
      </div>
      <div class="eight wide column" >
        @if (readySignal() === 0 && !isUpdateFileName) {
          <h4>
            {{fileName}}
          </h4>
        }
        @if (readySignal() === 0 && isUpdateFileName) {
          <h4>
            <div class="ui fluid input">
              <input (keyup.enter)="updateFileName(name.value)"
                #name [value]="fileName" type="text" [placeholder]="auth.txt['fileName'] + '  ...'">
              <button class="ui tiny green icon button"
                [attr.data-tooltip]="auth.txt['submit']" data-position="top center"
                (click)="updateFileName(name.value)">
                <i class="check icon"></i>
              </button>
            </div>
          </h4>
        }
      </div>
      @if (readySignal() === 0 && !isUpdateFileName && !isUpdateFileType) {
        <div class="column">
          <button class="ui tiny circular yellow icon button"
            [attr.data-tooltip]="auth.txt['fileName'] + ' ' + auth.txt['update']"
            (click)="setUpdateFileName()">
            <i class="arrow left icon"></i>
          </button>
        </div>
      }
    </div>
    <div class="row">
      <div class="two wide column">
      </div>
      <div class="two wide column" >
        <div class="ui checkbox">
          <input type="checkbox" [checked]="isFileExtension"
            [disabled]="isUpdateFileName || isUpdateFileType || readySignal() === 1"
            (change)="setShowExtension($event)">
          <label>{{auth.txt['fileNameExtension']}} </label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="two wide column">
        <h4> {{auth.txt['fileType']}}:</h4>
      </div>
      <div class="two wide column" >
      </div>
      <div class="six wide column" >
        @if (readySignal() === 0 && !isUpdateFileType) {
          <h4>
            {{fileType}}
          </h4>
        }
        @if (readySignal() === 0 && isUpdateFileType) {
          <h4>
            <div class="ui fluid input">
              <input (keyup.enter)="updateFileType(type.value)"
                #type [value]="fileType" type="text" [placeholder]="auth.txt['fileType'] + '  ...'">
              <button class="ui tiny green icon button"
                [attr.data-tooltip]="auth.txt['submit']" data-position="top center"
                (click)="updateFileType(type.value)">
                <i class="check icon"></i>
              </button>
            </div>
          </h4>
        }
      </div>
      @if (readySignal() === 0 && !isUpdateFileName && !isUpdateFileType) {
        <div class="column">
          <button class="ui tiny circular yellow icon button"
            [attr.data-tooltip]="auth.txt['fileType'] + ' ' + auth.txt['update']"
            (click)="setUpdateFileType()">
            <i class="arrow left icon"></i>
          </button>
        </div>
      }
    </div>
  }
</div>
