<br>
@if (eventsReadySignal() >= 0 && auth && auth.txt && session) {
  <div class="ui grid container">
    <div class="row">
      <!-- at left side we show issue and contact select -->
      <div class="four wide column">
        @if (eventContact.contactNr > 0) {
          @if (!isEventContactAutoSelected) {
            <div class="ui checkbox">
              <input type="checkbox" [checked]="isEventContactSelected" (change)="setShowContact($event)">
              <label></label>
            </div>
          }
          <div class="ui label"
            [ngStyle]="contactStyle"
            [attr.data-tooltip]="auth.txt['contact'] + ': ' + eventContact.name" data-position="right center">
            {{eventContact.displayNr}}
          </div>
        }
        <!-- even if eventSelectOpion === eventOption  we show them twice,
        just a divider before  !!!  -->
        <div class="ui divider"></div>
        @if ((eventContact.contactNr !== eventSelectOption.contactNr || eventIssueNr !== eventSelectOption.issueNr)
          && eventSelectOption.issueNr &&  eventSelectOption.issueNr > 0 ) {
          @if (eventSelectOption.issueNr > 0) {
            <div class="ui label"
              [ngStyle]="eventSelectStyle"
              [attr.data-tooltip]="eventSelectOption.issueNr + (eventSelectOption.contactName && eventSelectOption.contactName !== '' ? ('|' + eventSelectOption.contactName.substring(0,20)) : '')" data-position="right center">
              {{eventSelectOption.issueNr}}
            </div>
          } @else {
            <div class="ui label"
              [ngStyle]="eventSelectStyle"
              [attr.data-tooltip]="auth.txt['contact']+ ': ' + eventSelectOption.contactName" data-position="right center">
              {{eventSelectOption.contactDisplayNr}}
            </div>
          }
        }
      </div>
      <!-- at central column we show header, user and event select options  -->
      <div class="six wide column">
        <h2>{{session.serviceLevel.contact === 1 ? auth.txt['event_list'] : auth.txt['event_list']}} </h2>
        {{session.serviceLevel.contact === 1 ? auth.txt['events'] : auth.txt['events']}}
        @if (eventSelectOption.userName) {
          <span> {{auth.txt['of']}}: {{eventSelectOption.userName}} - </span>
        }
        @if ((eventSelectOption.isPlan === null && session.isPlan) || eventSelectOption.isPlan) {
          <span>{{auth.txt['plan']}}</span>
        } @else {
          {{auth.txt['actual']}}
        }
        <div class="ui divider"></div>
        <div class="ui grid">
          <div class="row">
            <!-- without label cause of saving space
            <div class="three wide column">
              <h4>{{auth.txt['select_option}}:</h4>
            </div>
            -->
            <div class="twelve wide column">
              @if ((eventSelectChoices && eventSelectChoices.length === 1) || isUpdate) {
                <!-- securityLevel must allow maint - local user has rights in local app ...  -->
                @if (!isUpdate && (session.securityLevel.maint > 0 || session.app === App.local) ) {
                  <span (click)="setUpdateEventSelectOption()">{{eventSelectOption.name|slice:0:50}}</span>
                } @else {
                  @if (isInsert) {
                    {{'(' + eventSelectOption.nr + ')'}} - {{eventSelectOption.name|slice:0:50}}
                  } @else {
                    {{eventSelectOption.name|slice:0:50}}
                  }
                }
              }
              @if (eventSelectChoices && eventSelectChoices.length > 1 && !isUpdate) {
                <select class="ui search dropdown" (change)="setEventSelectOption($event)">
                  @for (c of eventSelectChoices; track c.nr) {
                    <option [value]="c.nr"
                      [selected]="c.isSelected">
                      {{c.nr}} - {{c.name|slice:0:50}}
                    </option>
                  }
                </select>
              }
            </div>
            <!-- securityLevel maint-->
            @if ( !isUpdate && (session.securityLevel.maint > 0 || session.app === App.local)) {
              <div class="column">
                <button class="ui tiny yellow circular icon button"
                  [attr.data-tooltip]="auth.txt['update']" data-inverted=""
                  type ="button" (click)="setUpdateEventSelectOption()">
                  <i class="left arrow icon"></i>
                </button>
              </div>
            }
            <!-- // securityLevel maint -->
            @if (!isUpdate && (session.securityLevel.maint > 0 || session.app === App.local)) {
              <div class="column">
                <button class="ui tiny yellow circular icon button"
                  [attr.data-tooltip]="auth.txt['clone']" data-inverted=""
                  type ="button" (click)="setCloneEventSelectOption()">
                  <i class="right arrow icon"></i>
                </button>
              </div>
            }
          </div>
        </div>
      </div>
      <!-- at right side we show dates  -->
      <div class="six wide column">
        <h2>{{dateFromDisplay}}@if (dateToDisplay) {
          <span> - {{dateToDisplay}}</span>
        }</h2>
        @if (listDayChoices.length > 0) {
          <div class="right aligned column">
            @for (l of listDayChoices; track $index; let i = $index) {
              <div class="ui radio checkbox">
                <input type="radio" [value]="l.value" [checked] = "l.isChecked"
                  (change)="setListDay($event)"  >
                  <label>{{l.value}}</label>
                </div>
              }
            </div>
          }
        </div>
        <!-- there is no return in routed components
        <div class="right floated one wide column">
          <button class="left floated ui tiny circular red icon button"
            [attr.data-tooltip]="auth.txt['close']" data-position="bottom center" data-inverted=""
            (click)="return()">
            <i class="times icon"></i>
          </button>
        </div>
        -->
      </div>
    </div>
  }

  <!-- we use eventSelectOption for maintenance -->
  @if (selectViewSignal() === 1 && auth && auth.txt && users) {
    <dsy-event-select-form-view
      [txt]="auth.txt" [opts]="options" [optiontxt]="optiontxt"  [eventtxt]="eventtxt"
      [eventContact]="eventContact" [eventIssueNr]="eventIssueNr" [eventContacts]="eventContacts"
      [timeSpans]="timeSpans" 
      [session]="session" [users]="users"  [locale]="locale"
      [eventSelectOption]="eventSelectOption"
      (optionUpdate)="updateEventSelectOption($event)"
      (optionDelete)="deleteEventSelectOption($event)"
      (cancelUpdate)="cancelUpdate()">
    </dsy-event-select-form-view>
  }

  <!-- we use auth.eventSelectOption to filter the list -->
  @if (eventsReadySignal() === 1 && selectViewSignal() === 0 && auth && auth.txt 
      && eventElements.length > 0) {
    <dsy-event-list-view
      [txt]="auth.txt"  [eventtxt]="eventtxt" [session]="session" [isShowUser]="isShowUser"
      [isShowLocationType]="isShowLocationType" [isLocationTypeGrouped]="isLocationTypeGrouped"
      [isEventIssueSelected]="isEventIssueSelected"
      [eventSelectOption]="eventSelectOption" [eventElements]="eventElements"
      (eventShow)="showEvent($event)">
    </dsy-event-list-view>
  }

  @if (eventsReadySignal() === 1 && selectViewSignal() === 0 && auth && auth.txt 
    && (!eventElements || eventElements.length === 0)) {
    <h4 class="ui center aligned header">  {{auth.txt['no_records_to_show']}} </h4>
  }
