
@if (txt && usertxt) {
  <div class="overflow-x-auto p-4 mb-4">
    <table class="table table-zebra w-full">
      <thead>
        <tr>
          <th></th>
          <th>{{usertxt['userName']}}</th>
          <th>{{usertxt['lastActivity']}}</th>
          <th class="text-center">{{txt['select']}}</th>
          <th class="text-center" colspan="3">{{txt['show']}} / {{txt['update']}}</th>
          <th class="text-center">
            @if (isCreate) {
              <button class="btn btn-circle btn-sm btn-warning text-primary-content tooltip tooltip-bottom tooltip-primary"
                [attr.data-tip]="txt['insert']"  data-testid="user-insert"
                (click)="insert()">
                <i class="fas fa-plus"></i>
              </button>
            }
          </th>
        </tr>
      </thead>
      <tbody>
        @for (user of users; track user; let i = $index) {
          <tr>
            <!-- we show tooltips with mandantId - not necessary for user type admin, there is no user list for them ...-->
            <td>
              @if (user.type === 2) {
                <span class="badge badge-success tooltip tooltip-bottom tooltip-accent" [attr.data-tip]="txt['server_user']">
                  <i class="fas fa-level-up-alt"></i>
                </span>
              }
              @if (user.type === 1) {
                <span class="badge tooltip tooltip-bottom tooltip-accent" [attr.data-tip]="txt['local_user']">
                  <i class="fas fa-user"></i>
                </span>
              }
            </td>
            <td>{{user.userName !== '' ? user.userName : txt['unknown']}}</td>
            <td>{{user.lastActivity|date:'dd.MM.yyyy HH:mm'}}</td>
            <td class="text-center">
              @if (user.userId !== userId) {
                <button class="btn btn-sm tooltip tooltip-bottom tooltip-accent"
                  [attr.data-tip]="txt['select_user']" data-testid="user-select"
                  (click)="select(i)">
                  {{txt['select']}}
                </button>
              }
              @if (user.userId === userId) {
                <button class="btn btn-sm btn-success tooltip tooltip-bottom tooltip-accent"
                  [attr.data-tip]="txt['user_is_selected']">
                  {{txt['selected']}}
                </button>
              }
            </td>
            <td class="text-center">
              @if (user['isShowAuthorizations']) {
                <button class="btn btn-circle btn-sm btn-info text-primary-content tooltip tooltip-bottom tooltip-accent"
                  [attr.data-tip]="txt['hide_authorizations']"
                  (click)="showAuthorizations(i)">
                  <i class="fas fa-arrow-up"></i>
                </button>
              }
              @if (!user['isShowAuthorizations']) {
                <button class="btn btn-circle btn-sm btn-info text-primary-content tooltip tooltip-bottom tooltip-accent"
                  [attr.data-tip]="txt['show_authorizations']"
                  (click)="showAuthorizations(i)">
                  <i class="fas fa-arrow-down"></i>
                </button>
              }
            </td>
            <td class="text-center">
              <button class="btn btn-circle btn-sm btn-info text-primary-content tooltip tooltip-bottom tooltip-primary"
                [attr.data-tip]="txt['show_user']"
                (click)="show(i)">
                <i class="fas fa-arrow-right"></i>
              </button>
            </td>
            <td class="text-center">
              @if (isMaint) {
                <button class="btn btn-circle btn-sm btn-warning text-primary-content tooltip tooltip-bottom tooltip-primary"
                  [attr.data-tip]="txt['update']"
                  (click)="maint(i)">
                  <i class="fas fa-arrow-down"></i>
                </button>
              }
            </td>
            <td class="text-center">
              @if (isMaint && user.userId !== userId) {
                <button class="btn btn-circle btn-sm btn-outline tooltip tooltip-bottom tooltip-accent"
                  [attr.data-tip]="txt['disable']"
                  (click)="disable(i)">
                  <i class="fas fa-trash"></i>
                </button>
              }
            </td>
          </tr>
          @if (user['isShowAuthorizations']) {
            <tr>
              <td colspan="10">
                <dsy-user-authorizations-view
                  [user]="user" [txt]="txt" [usertxt]="usertxt"
                  (updateUser)="userUpdate($event)">
                </dsy-user-authorizations-view>
              </td>
            </tr>
          }
        }
      </tbody>
    </table>
  </div>
}

