<br>
@if (auth && auth.txt && isParametersSet) {
  <div class="ui grid container">
    <div class="row">
      <div class="three wide column">     <!-- left column has customer/order/reviewTime -->
        <div class="row">
          @for (t of reviewTimeChoices; track t) {
            <div class="ui radio checkbox" >
              <input type="radio"  [value]="t.value" [checked]="t.isSelected" (change)="setReviewTime($event)">
              <label>{{t.text}}</label>
            </div>
          }
        </div>
      </div>
      <div class="one wide column">     <!-- date picker -->
        <button type="button" class="ui small icon button" (click)="dp.toggleCalendar()"
          [attr.data-tooltip]="auth.txt['select'] + ' ' + auth.txt['date']" data-position="bottom center">
          <i class="calendar alternate outline icon"></i>
        </button>
        <!-- with type="hidden" display of date input is deactivated - workDayDisplay is shown! -->
        <input angular-mydatepicker name="mydate"
          [(ngModel)]="dpModel" [options]="dateOpts" [locale]="locale" type="hidden" #dp="angular-mydatepicker"
          (inputFieldChanged)="onInputFieldChanged($event)" (dateChanged)="onDateChanged($event)"
          [attr.disabled]="dpDisabled?'':null"/>
      </div>
      <div class="three wide column">     <!-- header -->
        <h2> {{logtxt['className']}} {{auth.txt['list']}}</h2>
      </div>
      <div class="three wide column">     <!-- mandant filter -->
        <div class="ui fluid action input">
          <input  (keyup.enter)="setMandantFilter(mandantFilterTerm.value)"  #mandantFilterTerm  type="text"
            placeholder="{{auth.txt['filter']}} {{auth.txt['mandant']}}.... ">
          @if (mandantFilter !== '') {
            <button class="ui mini red icon button"
              type="button" (click)="mandantFilterTerm.value=''; setMandantFilter(mandantFilterTerm.value)"
              [attr.data-tooltip]="auth.txt['reset'] + ' ' + auth.txt['filter']" data-position="bottom center">
              <i class="times icon"></i>
            </button>
          }
        </div>
      </div>
      <div class="three wide column">     <!-- user filter -->
        <div class="ui fluid action input">
          <input  (keyup.enter)="setUserFilter(userFilterTerm.value)"  #userFilterTerm  type="text"
            placeholder="{{auth.txt['filter']}} {{auth.txt['user']}}.... ">
          @if (userFilter !== '') {
            <button class="ui mini red icon button"
              type="button" (click)="userFilterTerm.value=''; setUserFilter(userFilterTerm.value)"
              [attr.data-tooltip]="auth.txt['reset'] + ' ' + auth.txt['filter']" data-position="bottom center">
              <i class="times icon"></i>
            </button>
          }
        </div>
      </div>
      <div class="one wide column" >     <!-- level -->
        <div class="ui inline dropdown">
          <button class="ui tiny right floated circular gray icon button" id="dropdownButton"
            (click)="toggleMenu()">
            <i class="ellipsis vertical icon"></i>
          </button>
          <div class="menu transition" [ngClass]="{ visible: isShowDropdown }">
            @for (l of logLevelChoices; track l) {
              <div class="item">
                <div class="ui checkbox" id="checkbox">
                  <input type="checkbox" id="checkboxInput" [value]="l.value" [checked] = "l.isSelected" (change)="setLevel($event)">
                  <label><small>{{l.value}}{{l.text ? ' - ' : ''}}{{l.text|slice:0:10}}</small></label>
                </div>
              </div>
            }
          </div>
        </div>
      </div>
      <div class="two wide column"> <!-- clear logs-->
        @for (publishedLog of publishedLogs; track publishedLog) {
          <!--  each log which is defined in this environment - except webApi log - can be cleared .... -->
          @if (publishedLog !== 'webapi') {
            <button class="ui tiny circular gray icon button"
              [attr.data-tooltip]="auth.txt['clear_log'] + ': ' + publishedLog"
              (click)="clearLog(publishedLog)">
              <i class="trash alternate icon"></i>
            </button>
          }
        }
      </div>
    </div>
  </div>
}

<!-- we await update and getting new data from server   -->
@if (logsReadySignal() === 0) {
  <div class="ui active inverted dimmer">
    <div class="ui large text loader">processing data on server  ...</div>
  </div>
}

<br>
<div [style]="scrollWrapperStyle">
  <!-- first stuck to fix first column since fomantic 2.9 -->
  @if (logsReadySignal() === 1) {
    <table class="ui first stuck celled structured unstackable table" [style]="tableScrollStyle">
      <thead>
        <tr>
          <th class="left aligned">
            <div class="ui label">
              {{auth.txt['dateFrom']}}:
            </div>
          </th>
          <th>{{dateFrom|date:'dd.MM.yyyy'}}</th>
          <th class="left aligned">
            <div class="ui label">
              {{auth.txt['dateTo']}}:
            </div>
          </th>
          <th>{{dateTo|date:'dd.MM.yyyy'}}</th>
          <th class="right aligned">
            <div class="ui label">
              {{auth.txt['log_level']}}:
            </div>
          </th>
          <th>{{levels}}</th>
          <th>{{logtxt['systemName']}}</th>
          <th>{{logtxt['mandantName']}}</th>
        </tr>
        <tr>
          <th>{{logtxt['date']}}</th>
          <th>{{logtxt['mandantId']}}</th>
          <th>{{logtxt['component']}}</th>
          <th>{{logtxt['logMessage']}}</th>
          <th>{{logtxt['extraInfo']}}</th>
          <th>{{logtxt['logLevel']}}</th>
          <th>{{logtxt['login']}}</th>
          <th>{{logtxt['userName']}}</th>
        </tr>
      </thead>
      <tbody>
        @for (log of showLogs; track log; let i = $index) {
          <tr>
            <td class="left aligned">
              {{log.date|date:'dd.MM.yyyy HH:mm'}}
            </td>
            <td>
              {{log.mandantId}}
            </td>
            <td>
              {{log.component}}
            </td>
            <td>
              {{log.logMessage|slice:0:80}}
            </td>
            <td>
              {{log.extraInfo ? log.extraInfo.replace('[','').replace(']','') : ''|slice:0:40}}
            </td>
            <td>
              {{log.logLevel}}
            </td>
            <td>
              {{log.processId > 0 ? log.systemName : log.login}}
            </td>
            <td>
              {{log.processId > 0 ? (log.mandantName|slice:0:15)  : log.userName}}
            </td>
          </tr>
        }
      </tbody>
    </table>
  }
</div>

<br>
<!-- paginator selectedPage as ngModel -->
@if (logsReadySignal() === 1) {
  <dsy-paginator [(ngModel)]="selectedPage"
    [total]="total" [limit]="limit"
    [txt]="auth.txt" [elementName]="logtxt['className']" [abbrPlaces]="abbrPlaces"
    [names]="names" (pageSelect)="onPageSelect($event)">
  </dsy-paginator>
}



