
@if (session && txt && contacttxt) {
  <div class="container mx-auto p-4">
    <div class="flex items-start gap-4 ">
      <div class="flex-1 min-w-32">
        <!-- we do not reset filter when leaving the filter entry ...
        (blur)="setFilter(filterTerm.value); filterTerm.value='' " -->
        <div class="join w-full">
          <input (keyup.enter)="setFilter(filterTerm.value)" #filterTerm
            type="text" placeholder="{{txt['filter'] }}... " data-testid="contact-filter" class="input input-sm join-item">
            @if (contactFilter === '') {
              <button class="btn btn-sm btn-success text-primary-content join-item tooltip tooltip-bottom tooltip-accent" type="button" (click)="setFilter(filterTerm.value)"
                [attr.data-tip]="txt['set']  + ' ' + txt['filter'] "
                data-testid="contact-filter-enter">
                <i class="fas fa-check"></i>
              </button>
            }
            @if (contactFilter !== '') {
              <button class="btn btn-sm btn-error text-primary-content join-item tooltip tooltip-bottom tooltip-accent" type="button" (click)="filterTerm.value=''; setFilter(filterTerm.value)"
                [attr.data-tip]="txt['reset']  + ' ' + txt['filter'] ">
                <i class="fas fa-times"></i>
              </button>
            }
        </div>
        <div class="form-control mt-2">
          <label class="label cursor-pointer">
            <input type="checkbox" [checked]="isShowDisabled" (change)="setShowDisabled($event)" class="checkbox checkbox-sm">
            <span class="label-text text-sm ml-2">{{txt['show_disabled'] }}</span>
          </label>
        </div>
      </div>
      <div class="flex-1 ml-16 mr-16 text-center">
        <h1 class="text-2xl md:text-3xl font-bold">  {{session.serviceLevel.contact < 2 ? txt['contact']  : txt['contacts'] }} {{txt['list'] }}  </h1>
      </div>
      <div class="flex-1 min-w-32">
        <!-- integrated search component - selected contact is shown in -detail component -->
        <dsy-contact-search (contactSelected)="showSearched($event)" class="w-full">
        </dsy-contact-search>
        <!-- no return because list is leading view ....
        <button class="btn btn-circle btn-sm btn-error tooltip tooltip-bottom tooltip-primary"
          [attr.data-tip]="txt['close']"
          (click)="return()">
          <i class="fas fa-times"></i>
        </button>
        -->
      </div>
    </div>
  </div>
}
<!-- if we await more than 100 records or use complex query we should activate data load dimmer
<div *ngIf="!contacts" class="flex items-center justify-center p-4">
  <div class="loading loading-spinner loading-lg"></div>
  <span class="ml-4">{{txt['loading_data'] }}</span>
</div>
-->
<!-- paginator selectedPage as ngModel (external selected page necessary for 2 parallel paginators...)-->
@if (contactsReadySignal() === 1 && session) {
  <dsy-paginator [(ngModel)]="selectedPage"
    [externalSelectedPage]="selectedPage"
    [total]="total" [limit]="limit" [abbrPlaces]="abbrPlaces"
    [txt]="txt" [elementName]="session.serviceLevel.contact < 2 ? txt['contact'] : txt['contact']"
    [names]="names" (pageSelect)="onPageSelect($event)">
  </dsy-paginator>
}

@if (contactsReadySignal() === 1 && session && txt && contacttxt) {
  <div class="overflow-x-auto p-4">
    <table class="table table-zebra w-full">
      <thead>
        <tr>
          <th>{{contacttxt['contactNr']}}
            @if (sortDirection === 1) {
              <i class="fas fa-angle-up text-primary"></i>
            }
            @if (sortDirection !== 1) {
              <i class="fas fa-angle-up cursor-pointer" (click)="sort(1)"></i>
            }
            @if (sortDirection === 2) {
              <i class="fas fa-angle-down text-primary"></i>
            }
            @if (sortDirection !== 2) {
              <i class="fas fa-angle-down cursor-pointer" (click)="sort(2)"></i>
            }
          </th>
          <th>{{contacttxt['displayName']}}
            @if (sortDirection === 3) {
              <i class="fas fa-angle-up text-primary"></i>
            }
            @if (sortDirection !== 3) {
              <i class="fas fa-angle-up cursor-pointer" (click)="sort(3)"></i>
            }
            @if (sortDirection === 4) {
              <i class="fas fa-angle-down text-primary"></i>
            }
            @if (sortDirection !== 4) {
              <i class="fas fa-angle-down cursor-pointer" (click)="sort(4)"></i>
            }
          </th>
          <th>{{contacttxt['companyName']}}
            @if (sortDirection === 5) {
              <i class="fas fa-angle-up text-primary"></i>
            }
            @if (sortDirection !== 5) {
              <i class="fas fa-angle-up cursor-pointer" (click)="sort(5)"></i>
            }
            @if (sortDirection === 6) {
              <i class="fas fa-angle-down text-primary"></i>
            }
            @if (sortDirection !== 6) {
              <i class="fas fa-angle-down cursor-pointer" (click)="sort(6)"></i>
            }
          </th>
          <th>{{contacttxt['street']}}</th>
          <th>{{contacttxt['plz']}}</th>
          <th>{{contacttxt['city']}}</th>
          <th class="text-center" colspan="2">{{txt['show'] + (isMaint ? ' / ' + txt['update'] : '')}}</th>
          <th class="text-center">
            @if (isCreate && !isShowDisabled) {
              <button class="btn btn-sm btn-circle btn-warning text-primary-content tooltip tooltip-bottom tooltip-primary"
                [attr.data-tip]="txt['insert']"
                (click)="insert()">
                <i class="fas fa-plus"></i>
              </button>
            }
          </th>
        </tr>
      </thead>
      <tbody>
        @for (contact of shownContacts; track contact.contactId; let i = $index) {
          <tr>
            <td class="whitespace-nowrap">
              <span class="badge" [ngStyle]="contact.style">
                {{contact.contactNr}}
              </span>
            </td>
            <td class="whitespace-nowrap">
              {{contact.displayName|slice:0:30}}
            </td>
            <td class="whitespace-nowrap">
              @if (!(contact.street !== '' || contact.plz > 0 || contact.city !== '')) {
                {{contact.companyName|slice:0:40}}
              }
            </td>
            <td class="whitespace-nowrap">
              {{contact.contactStreet|slice:0:30}}
            </td>
            <td class="whitespace-nowrap">
              {{contact.contactPlz === 0 ? '' : contact.contactPlz}}
            </td>
            <td class="whitespace-nowrap">
              {{contact.contactCity|slice:0:20}}
            </td>
            <td class="text-center">
              @if (!isShowDisabled) {
                <button class="btn btn-sm btn-circle btn-info text-primary-content tooltip tooltip-bottom tooltip-primary"
                  [attr.data-tip]="txt['show']"
                  (click)="show(i)">
                  <i class="fas fa-arrow-right"></i>
                </button>
              }
            </td>
            <td class="text-center">
              @if (isMaint && !isShowDisabled) {
                <button class="btn btn-sm btn-circle btn-warning text-primary-content tooltip tooltip-bottom tooltip-primary"
                  [attr.data-tip]="txt['update']"
                  (click)="maint(i)">
                  <i class="fas fa-arrow-down"></i>
                </button>
              }
            </td>
            <td class="text-center">
              @if (isMaint && !isShowDisabled  && contact.contactId > 0) {
                <button class="btn btn-sm btn-circle btn-outline tooltip tooltip-bottom tooltip-accent"
                  [attr.data-tip]="txt['disable']"
                  (click)="disable(i)">
                  <i class="fas fa-trash"></i>
                </button>
              }
              @if (isMaint && isShowDisabled  && contact.contactId > 0 ) {
                <button class="btn btn-sm btn-circle btn-success text-primary-content tooltip tooltip-bottom tooltip-accent"
                  [attr.data-tip]="txt['enable']"
                  (click)="enable(i)">
                  <i class="fas fa-trash-restore"></i>
                </button>
              }
            </td>
          </tr>
          @if (contact.street !== '' || contact.plz > 0 || contact.city !== '') {
            <tr>
              <td>
              </td>
              <td>
              </td>
              <td class="whitespace-nowrap">
                {{contact.companyName|slice:0:40}}
              </td>
              <td class="whitespace-nowrap">
                {{contact.street|slice:0:30}}
              </td>
              <td class="whitespace-nowrap">
                {{contact.plz === 0 ? '' : contact.plz}}
              </td>
              <td class="whitespace-nowrap">
                {{contact.city|slice:0:20}}
              </td>
              <td>
              </td>
              <td>
              </td>
              <td>
              </td>
            </tr>
          }
        }
      </tbody>
    </table>
    @if (contacts && contacts.length === 0) {
      <br>
      {{txt['no_records_to_show']}}
    }
  </div>
}
<br>
<!-- paginator selectedPage as ngModel -->
@if (contactsReadySignal() === 1 && session) {
  <dsy-paginator [(ngModel)]="selectedPage"
    [externalSelectedPage]="selectedPage"
    [total]="total" [limit]="limit" [abbrPlaces]="abbrPlaces"
    [txt]="txt" [elementName]="session.serviceLevel.contact < 2 ? txt['contact'] : txt['contact']"
    [names]="names" (pageSelect)="onPageSelect($event)">
  </dsy-paginator>
}
