<div class="container mx-auto p-4">
  <div class="flex items-center gap-4">
    <div class="flex-1">
    </div>
    <div class="flex-1 text-center">
      @if (isNew || isClone) {
        <h3 class="text-xl md:text-2xl">  {{usertxt['className']}} {{txt['insert']}} </h3>
      }
      @if (!(isNew || isClone) && isMaint) {
        <h3 class="text-xl md:text-2xl"> {{usertxt['className']}} {{txt['update']}} </h3>
      }
      @if (!isMaint && !isNew && !isClone) {
        <h3 class="text-xl md:text-2xl"> {{usertxt['className']}} {{txt['show']}} </h3>
      }
    </div>
    <div class="flex-1 flex justify-end">
       @if (user?.userName !== '') {
        <button class="btn btn-outline btn-info tooltip tooltip-bottom tooltip-primary"
          [attr.data-tip]="txt['level_up']" data-testid="user-form-return"
          (click)="return()">
          <i class="fas fa-arrow-up mr-2"></i>return
        </button>
      }
    </div>
  </div>
</div>
<div class="divider"></div>


<!--
<div *ngIf="!issue" class="flex items-center justify-center p-4">
  <div class="loading loading-spinner loading-lg"></div>
  <span class="ml-4">Daten werden geladen...</span>
</div>
-->

<!-- FORM starts here                    -->

<form [formGroup] = "thisForm"
  (ngSubmit)="submitForm()">
  <!-- this place is used for tests: <p>user objects: {{ intChoices | json }}</p> -->
  <!-- Container  -->
  <div class="container mx-auto p-4">
    <!-- -UPDATE trigger BUTTONs  uniqueId  -->
    @if (isMaint) {
      <div class="flex gap-4 mb-4">
        <div class="w-1/4">
          <!-- update of uniqueId -->
          @if (!(isNew || isClone)) {
            <button class="btn btn-circle btn-sm btn-warning text-base-100 tooltip tooltip-primary"
              type="button" [attr.data-tip]="txt['update']"
              [disabled]="isUpdate()"
              (click)="setUniqueId()">
              <i class="fas fa-arrow-down"></i>
            </button>
          }
          <!-- clone of uniqueId
          <button class="btn btn-circle btn-sm btn-warning tooltip tooltip-bottom tooltip-primary" *ngIf="!(isNew || isClone)"
            [attr.data-tip]="txt['clone']"
            [disabled]="isUpdate()"
            (click)="setUniqueIdClone()">
            <i class="fas fa-arrow-right"></i>
          </button>
          -->
        </div>
      </div>
    }
    <!-- SHOW  uniqueId fields  -->
    <div class="flex gap-4 mb-4">
      <div class="w-1/2">
        <h3>{{usertxt['userName']}}:</h3>
      </div>
      <div class="w-1/2">
        <h3> {{user?.userName}}</h3>
      </div>
    </div>
    <!-- UPDATE uniqueId fields  -->
    @if ((isNew || isClone || isUpdateUniqueId)) {
      <div class="flex gap-4 mb-4">
        <div class="w-3/4">
          <div class="form-control">
            <fieldset  formGroupName="uniqueId" >
              @if (isNew  && locale === 'DE') {
                <legend class = "badge badge-success">{{usertxt['userName']}} {{txt['enter']}}:</legend>
              }
              @if (isNew  && locale !== 'DE') {
                <legend class = "badge badge-success">{{txt['enter']}} {{usertxt['userName']}}:</legend>
              }
              @if (isUpdateUniqueId) {
                <legend class = "badge badge-success">{{usertxt['userName']}} {{txt['update']}}:</legend>
              }
              <div class="flex items-center gap-2">
                <label for="userName" class="label">{{usertxt['userName']}}:</label>
                <input placeholder="userName" id="userName" formControlName="userName" class="input input-bordered w-full">
              </div>
              @if ( errors['uniqueId.userName']) {
                <div class="alert alert-error mt-2">
                  {{ errors['uniqueId.userName'] }}
                </div>
              }
              @if (errors['uniqueId']) {
                <div class="alert alert-error mt-2">
                  {{ errors['uniqueId']}}
                </div>
              }
            </fieldset>
          </div>
        </div>
        <!-- BUTTONs uniqueId updating                -->
        @if (isUpdateUniqueId || isNew || isClone) {
          <div class="w-1/4 flex gap-2">
            <button class="btn btn-circle btn-sm btn-success text-primary-content tooltip tooltip-top tooltip-accent"
              [attr.data-tip]="txt['submit']"
              [disabled]="!thisForm.valid"
              type="submit">
              <i class="fas fa-check"></i>
            </button>
            <button class="btn btn-circle btn-sm btn-error text-primary-content tooltip tooltip-top tooltip-accent"
              type="button" [attr.data-tip]="txt['cancel']"
              [disabled]="isNew"
              (click)="cancelUpdates()">
              <i class="fas fa-times"></i>
            </button>
          </div>
        }
      </div>
    }

    <!-- -UPDATE trigger BUTTONs user header  -->
    <!-- we have no user header
    <div class="divider"></div>
    @if (isMaint && user?.userName !== '') {
      <div class="flex gap-4 mb-4">
        <div class="w-1/6">
          <button class="btn btn-circle btn-sm btn-warning text-primary-content tooltip tooltip-primary"
            type="button" [attr.data-tip]="txt['update']"
            [disabled]="isUpdate()"
            (click)="setHeader()">
            <i class="fas fa-arrow-down"></i>
          </button>
        </div>
      </div>
    }
    -->
    <!-- -SHOW  user header  -->
    <!-- we have no user header
     <div class="flex gap-4 mb-4">
      <div class="w-7/12">
        <table class="table table-zebra w-full">
          <tbody>
             <tr>
             </tr>
          </tbody>
        </table>
      </div>
    </div>
    -->

    <!-- -UPDATE issue hdr  -->
    @if (isUpdateHdr) {
      <div class="flex gap-4 mb-4">
        <div class="w-3/4">
          <div class="form-control">
            <fieldset  formGroupName="hdrGroup">
              <!-- no header data ....-->
              <legend class = "badge badge-success">{{usertxt['className']}} {{txt['field']}} {{txt['update']}} </legend>
              <div class="flex items-center gap-2">
                <!-- no header data ....-->
              </div>
            </fieldset>
          </div>
        </div>
        <!-- BUTTONs user header updating                -->
        <div class="w-1/4 flex gap-2">
          @if (isUpdateHdr) {
            <button class="btn btn-circle btn-sm btn-success text-primary-content tooltip tooltip-top tooltip-accent"
              [attr.data-tip]="txt['submit']"
              [disabled]="!thisForm.valid"
              type="submit">
              <i class="fas fa-check"></i>
            </button>
          }
          @if (isUpdateHdr) {
            <button class="btn btn-circle btn-sm btn-error text-primary-content tooltip tooltip-top tooltip-accent"
              type="button" [attr.data-tip]="txt['cancel']"
              (click)="cancelUpdates()">
              <i class="fas fa-times"></i>
            </button>
          }
        </div>
      </div>
    }

    <!-- -UPDATE trigger BUTTONs  user footer  -->
    <!-- we have no user footer
    <div class="divider"></div>
    @if (isMaint && user?.userName !== '') {
      <div class="flex gap-4 mb-4">
        <div class="w-1/6">
          <button class="btn btn-circle btn-sm btn-warning text-primary-content tooltip tooltip-primary"
            type="button" [attr.data-tip]="txt['update']"
            [disabled]="isUpdate()"
            (click)="setFooter()">
            <i class="fas fa-arrow-down"></i>
          </button>
        </div>
      </div>
    }
    -->
    <!-- -SHOW  user footer  -->
    <!-- we have no user footer
    <div class="flex gap-4 mb-4">
      <div class="w-7/12">
        <table class="table table-zebra w-full">
          <tbody>
            <tr>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    -->
    <!-- -UPDATE  user footer   -->
    @if (isUpdateFtr) {
      <div class="flex gap-4 mb-4">
        <div class="w-3/4">
          <div class="form-control">
            <fieldset  formGroupName="ftrGroup">
              <legend class = "badge badge-success">{{usertxt['className']}} {{txt['field']}} {{txt['update']}} </legend>
              <div class="flex items-center gap-2">
              </div>
            </fieldset>
          </div>
        </div>
        <!-- BUTTONs  issue footer  updating                -->
        <div class="w-1/4 flex gap-2">
          @if (isUpdateFtr) {
            <button class="btn btn-circle btn-sm btn-success text-primary-content tooltip tooltip-top tooltip-accent"
              [attr.data-tip]="txt['submit']"
              [disabled]="!thisForm.valid"
              type="submit">
              <i class="fas fa-check"></i>
            </button>
          }
          @if (isUpdateFtr) {
            <button class="btn btn-circle btn-sm btn-error text-primary-content tooltip tooltip-top tooltip-accent"
              type="button" [attr.data-tip]="txt['cancel']"
              (click)="cancelUpdates()">
              <i class="fas fa-times"></i>
            </button>
          }
        </div>
      </div>
    }
    <!-- end of Container  -->
  </div>
</form>

