@if (txt && optiontxt) {
  <div class="container mx-auto p-4">
    <div class="flex items-center gap-4">
      <div class="flex-1"></div>
      <div class="flex-1 text-center">
        <h1 class="text-2xl md:text-3xl font-bold">
          {{optiontxt['className']}} 
        </h1>
         <h3 class="text-xl md:text-2xl">
           {{areaTxt}} 
        </h3>
        <h1 class="text-2xl md:text-3xl font-bold">
          {{txt['sort']}}
        </h1>
      </div>
      <div class="flex-1"></div>
    </div>
  </div>
}
<br>
@if (isUpdateOk) {
  <div class="card bg-base-100 shadow-md p-4">
    <div class="flex items-center justify-center p-4">
      <div class="loading loading-spinner loading-lg"></div>
      <span class="ml-4">loading data ...</span>
    </div>
    <br>
  </div>
}
@if (txt && optiontxt) {
  <div class="overflow-x-auto p-4">
    @if (areaOptions) {
      <table class="table table-zebra w-full">
        <thead>
          <tr>
            <th class="w-1/12"></th>
            <th class="w-1/12">{{optiontxt['optionNr']}}</th>
            <th class="w-1/6">{{optiontxt['optionName']}}</th>
            <th class="w-1/3">{{optiontxt['optionStringValue']}}</th>
            <th class="w-1/12">{{optiontxt['type']}}</th>
            <th class="w-1/3" colspan="2" class="text-center">
              <button class="btn btn-circle btn-sm btn-success text-primary-content"
                [attr.data-tip]="txt['submit']" data-position="top"
                (click)="setUpdates()"
                [disabled]="!isNewSorted">
                <i class="fas fa-check"></i>
              </button>
              <button class="btn btn-circle btn-sm btn-error text-primary-content"
                [attr.data-tip]="txt['cancel']" data-position="top"
                (click)="cancelUpdates()">
                <i class="fas fa-times"></i>
              </button>
            </th>
          </tr>
        </thead>
        <tbody>
          @for (o of areaOptions; track o; let i = $index) {
            <tr>
              <!-- SHOW    option              -->
              <td class="text-center">
                @if (i > 0) {
                  <button class="btn btn-circle btn-sm btn-info text-primary-content"
                    [attr.data-tip]="txt['position_lower']" data-position="bottom"
                    (click)="lowerOption(i)" >
                    <i class="fas fa-arrow-up"></i>
                  </button>
                }
              </td>
              <td> {{o.optionNr}}</td>
              <td> {{o.txt}}</td>
              <td> {{o.value}}
                @if (o.value === 'true') {
                  <i class="fas fa-check text-success"></i>
                }
                @if (o.value === 'false') {
                  <i class="fas fa-times text-error"></i>
                }
              </td>
              <td>{{o.typeText}}</td>
              <td class="text-center">
                @if ((i < areaOptions.length - 1)) {
                  <button class="btn btn-circle btn-sm btn-info text-primary-content"
                    [attr.data-tip]="txt['position_raise']" data-position="bottom"
                    (click)="raiseOption(i)">
                    <i class="fas fa-arrow-down"></i>
                  </button>
                }
              </td>
              <td></td>
            </tr>
          }
        </tbody>
      </table>
    }
  </div>
}

