@if (txt && optiontxt) {
  <div class="container mx-auto p-4">
    <div class="flex items-center gap-4">
      <div class="flex-1"></div>
      <div class="flex-1 text-center">
        <h1 class="text-2xl md:text-3xl font-bold">
          {{optiontxt['className']}} 
        </h1>
         <h3 class="text-xl md:text-2xl">
           {{areaTxt}} 
        </h3>
        <h1 class="text-2xl md:text-3xl font-bold">
          @if (isMaint && area) {
            {{txt['update']}}
          }
          @if (isMaint && !area) {
            {{txt['insert']}}
          }
          @if (!isMaint) {
            {{txt['show']}}
          }
        </h1>
      </div>
      <div class="flex-1 flex justify-end">
        <button type="button" class="btn btn-circle btn-sm btn-error text-primary-content tooltip tooltip-bottom tooltip-primary"
          [attr.data-tip]="txt['close']"
          (click)="return()">
          <i class="fas fa-times"></i>
        </button>
      </div>
    </div>
  </div>
}
@if (isStyle) {
  <div class="divider"></div>
}
@if (isStyle) {
  <div class="container mx-auto p-4">
    <div class="flex items-center gap-4">
      <div class="flex-1"></div>
      <div class="flex-1">
        @if (isMaint && area) {
          <div class="join">
            <input (keyup.enter)="setStyle(styleString.value); styleString.value=''"
              #styleString type="text" [placeholder]="txt['enter_a_number']" class="input join-item w-full">
            <button class="btn btn-warning text-primary-content join-item tooltip tooltip-bottom tooltip-accent" type="button" (click)="setStyle(styleString.value)"
              [attr.data-tip]="txt['create_new_style']">
              <i class="fas fa-plus"></i>
            </button>
          </div>
        }
        @if (area) {
          <div class="flex items-center gap-2">
            <label for="styleSelect" class="label">{{txt['style']}}: </label>
            <select class="select select-primary" id="styleSelect"
              [disabled]="isUpdateOption" (change)="selectStyle($event)">
              @for (s of styleChoices; track s) {
                <option [value]="s.value"
                  [selected]="s.isSelected">
                  {{s.value}} - {{s.text}}
                </option>
              }
            </select>
          </div>
        }
      </div>
    </div>
  </div>
}
<br>
<!-- FORM starts here                    -->

<form [formGroup] = "thisForm"
  (ngSubmit)="submitForm()">

  @if (txt && optiontxt) {
    <div class="overflow-x-auto p-4">
      <table class="table table-zebra w-full">
        <thead>
          <tr>
            <th class="w-1/12">{{optiontxt['optionNr']}}</th>
            @if (isStyle) {
              <th class="w-1/6" >{{txt['option_group']}}</th>
            }
            <th class="w-1/6">{{optiontxt['optionName']}}</th>
            <th class="w-1/3">{{txt['value']}}</th>
            @if (!isStyle) {
              <th class="w-1/12" >{{optiontxt['type']}}</th>
            }
            <th class="w-1/6">
              @if (isMaint && !isStyle) {
                <button type="button" class="btn btn-circle btn-sm btn-info text-primary-content tooltip tooltip-bottom tooltip-accent"
                  [disabled]="isUpdateOption"  [attr.data-tip]="txt['sort']"
                  (click)="setSort()">
                  <i class="fas fa-sort"></i>
                </button>
              }
            </th>
          </tr>
        </thead>
        <tbody>
          @for (o of shownOptions; track o; let i = $index) {
            <!-- SHOW    option               -->
            @if (!isUpdateOption || !(i === optionIx)) {
              <tr>
                @if (isStyle) {
                  <td>
                    @if (o.optionGroup  && (i === 0 || o.optionGroup !== shownOptions[i-1].optionGroup)) {
                      @if (o.optionGroup > 0) {
                        <span >{{o.optionGroup}} </span>
                      }
                      @if (o.optionNr > 0) {
                        <span> / {{o.optionNr}}</span>
                      }
                    }
                  </td>
                }
                @if (!isStyle) {
                  <td>{{o.optionNr}}</td>
                }
                @if (isStyle) {
                  <td>
                    @if ((i === 0 || o.optionGroup !== shownOptions[i-1].optionGroup)) {
                      {{o.optionGroupName}}
                    }
                  </td>
                }
                <td> {{o.txt}}</td>
                <td> {{o.value}}
                  @if (o.value === 'true') {
                    <i class="fas fa-check text-success"></i>
                  }
                  @if (o.value === 'false') {
                    <i class="fas fa-times text-error"></i>
                  }
                </td>
                @if (!isStyle) {
                  <td>{{o.typeText}}</td>
                }
                <td>
                  @if (isMaint) {
                    <button type="button" class="btn btn-circle btn-sm btn-warning text-primary-content tooltip tooltip-bottom tooltip-accent"
                      [disabled]="isUpdateOption"
                      [attr.data-tip]="txt['update']"
                      (click)="setOption(i)">
                      <i class="fas fa-arrow-down"></i>
                    </button>
                  }
                  <!-- the standard options are protected from beeing deleted by isDeleteable
                  a whole style (style header, o.optionGroup === 0) can be deleted if no option for this style
                  -->
                  @if (o.isDeleteable && o.optionId > 0) {
                    <button type="button" class="btn btn-circle btn-sm btn-outline tooltip tooltip-bottom tooltip-accent"
                      [disabled]="isUpdateOption"
                      (click)="setDelete(i)" [attr.data-tip]="txt['delete']">
                      <i class="fas fa-trash"></i>
                    </button>
                  }
                </td>
              </tr>
            } <!-- endif SHOW    option               -->
            <!-- UPDATE option               -->
            @if (isUpdateOption && (i === optionIx)) {
              <tr formGroupName="option" >
                <td class="w-1/12">@if (!isStyle) {
                  <span>{{o.optionNr}}</span>
                }</td>
                <td class="w-1/2" colspan="3">
                  <div class="form-control">
                    @if (isNewOption && !isStyle) {
                      <div class="mb-2">
                        <select class="select select-primary w-full" formControlName="optionType">
                          @for (t of typeChoicesFiltered; track t) {
                            <option
                              [ngValue]="t.value">{{t.text}}
                            </option>
                          }
                        </select>
                      </div>
                    }
                    @if (isNewOption && isStyle) {
                      <div class="mb-2">
                        <select class="select select-primary w-full" formControlName="optionGroup">
                          @for (g of groupChoices; track g) {
                            <option
                              [ngValue]="g.value">{{g.value.toString() + ' ' + g.text}}
                            </option>
                          }
                        </select>
                      </div>
                    }
                    @if (isStyle) {
                      <div class="mb-2">
                        <h4>{{o.optionGroupName}}</h4>
                      </div>
                    }
                    <div class="mb-2">
                      <input class="input input-bordered w-full" formControlName="optionName" [placeholder]="optiontxt['optionName']"
                        [readonly]="!isNewOption || (isStyle && !isStringNameEntry) ">
                    </div>
                    @if (errors['option.optionName']) {
                      <div class="alert alert-error">
                        {{ errors['option.optionName'] }}
                      </div>
                    }
                    <!-- OptionType.stringSeqBothChoice are entered 2 times - first,  name is choosen
                    then - if isValueChoice is set - string is choosen from string values -->
                    @if (isNewOption && isStringNameChoice) {
                      <div class="mb-2">
                        @for (s of stringNameChoices; track s) {
                          <div class="form-control">
                            <label class="label cursor-pointer">
                              <input type="radio" formControlName="optionName" [value]="s.text" class="radio radio-sm">
                              <span class="label-text text-sm  ml-2">{{s.text}} </span>
                            </label>
                          </div>
                        }
                      </div>
                    }
                    @if (isStringChoice && (!(isNewOption && isStringNameChoice) || isValueChoice)) {
                      <div class="mb-2">
                        @for (s of stringChoices; track s) {
                          <div class="form-control">
                            <label class="label cursor-pointer">
                              <input type="radio" formControlName="optionValue" [value]="s.text" class="radio radio-sm">
                              <span class="label-text text-sm ml-2">
                                <span>{{s.text}}
                                  @if (s.text === '') {
                                    <i class="fas fa-times text-error"></i>
                                  }
                                </span>
                              </span>
                            </label>
                          </div>
                        }
                      </div>
                    }
                    @if (isIntChoice) {
                      <div class="mb-2">
                        @for (n of intChoices; track n) {
                          <div class="form-control">
                            <label class="label cursor-pointer">
                              <input type="radio" formControlName="optionValue" [value]="n.value.toString()" class="radio radio-sm">
                              <span class="label-text-sm text ml-2">{{n.text}} </span>
                            </label>
                          </div>
                        }
                      </div>
                    }
                    @if (isStyleChoice) {
                      <div class="mb-2">
                        <label for="styleSelect" class="label">{{txt['style']}}: </label>
                        <select class="select select-primary w-full" id="styleSelect" formControlName="optionValue">
                          @for (s of styleChoices; track s) {
                            <option [value]="s.value">
                              {{s.value}} - {{s.text}}
                            </option>
                          }
                        </select>
                      </div>
                    }
                    @if (isBooleanChoice) {
                      <div class="mb-2">
                        @for (b of booleanChoices; track b) {
                          <div class="form-control">
                            <label class="label cursor-pointer">
                              <input type="radio" formControlName="optionValue" [value]="b.text" class="radio radio-sm">
                              <span class="label-text text-sm ml-2">
                                <span>{{b.text}}
                                  @if (b.text === 'true') {
                                    <i class="fas fa-check text-success"></i>
                                  }
                                  @if (b.text === 'false') {
                                    <i class="fas fa-times text-error"></i>
                                  }
                                </span>
                              </span>
                            </label>
                          </div>
                        }
                      </div>
                    }
                    @if (!isStringChoice && !isIntChoice && !isBooleanChoice  && !isStyleChoice) {
                      <div class="mb-2">
                        <input class="input input-bordered w-full" formControlName="optionValue">
                      </div>
                    }
                    @if (!(isStyle && o.optionGroup !== 0)) {
                      <div class="mb-2">
                        <textarea formControlName="optionDescription" rows="3" [placeholder]="optiontxt['optionDescription']" class="textarea textarea-bordered w-full"></textarea>
                      </div>
                    }
                    @if (errors['option']) {
                      <div class="alert alert-error">
                        {{ errors['option'] }}
                      </div>
                    }
                </div>
                </td>
                <td>
                  <button class="btn btn-circle btn-sm btn-success text-primary-content tooltip tooltip-top tooltip-accent"
                    [disabled]="!thisForm.valid"
                    type="submit" [attr.data-tip]="txt['submit']">
                    <i class="fas fa-check"></i>
                  </button>
                  <button type="button" class="btn btn-circle btn-sm btn-error text-primary-content tooltip tooltip-top tooltip-accent"
                    [attr.data-tip]="txt['cancel']"
                    (click)="cancelUpdates()">
                    <i class="fas fa-times"></i>
                  </button>
                </td>
              </tr>
            } <!-- endif - UPDATE option               -->
            <!-- SHOW    description          -->
            @if (!isUpdateOption && o.optionDescription) {
              <tr>
                <td></td>
                <td colspan="3"><small><pre>{{o.optionDescription}}</pre></small></td>
                <td></td>
              </tr>
            }
          } <!-- end for -->
          <tr> <!-- ADD NEW option                      -->
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <!-- we restrict adding options for admin users only, except it are style options and style options name record exists ...  -->
              @if ((isNew || isMaint) && ((isStyle && shownOptions && shownOptions.length > 0) || !isStyle)) {
                <button type="button" class="btn btn-circle btn-sm btn-warning text-primary-content tooltip tooltip-bottom tooltip-primary"
                  [disabled]="isUpdateOption"
                  (click)="addOption()" [attr.data-tip]="txt['insert']">
                  <i class="fas fa-plus"></i>
                </button>
              }
            </td>
          </tr> <!-- end row ADD NEW option                      -->
        </tbody>
      </table>
    </div>
  } <!-- endif txt && optiontxt-->
</form>



